/*RESET RULES*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

html {
    font-family: "Figtree", sans-serif;
    font-style: normal;
}

img{
    width: 100%;
    display: block;
}

/*DEBUG RULES*/

.debug >*, .debug .main-content>*{
    border: 1px dashed red;
    background-color: beige;
}

/*LAYOUT*/

.viewport-full{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-content{
    display: flex;
    flex-grow:1;
}

.sidebar{
    display: flex;
    flex-flow: column wrap;
    width: 230px;
}

.sidebar .main-menu{
    flex-grow: 1;
}

.player{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.song-played, .song-options{
    display: flex;
    align-items: center;
    width: 30%;
}

.song-played{
    justify-content: flex-start;
}

.song-options{
    justify-content: flex-end;
}


.song{
    padding-right: 70px;
}

.song-played-img{
    width: 45px;
    float: left;
    padding-right: 5px;
}

.song-played .song-title{
    white-space: nowrap;
    color: #878787;
}

.share .btn{
    display: inline-block;
    padding: 0 5px;
}

.song-menu .controls, .song-menu .progress-bar{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-menu .controls{
    column-gap: 20px;
}

.progress-bar-background, .progress-bar-foreground, .volume-bar-background, .volume-bar-foreground{
    border-radius: 30px;
}

.progress-bar-background{
    margin: 0 5px;
}

.song-menu .controls .play{
    padding: 0 10px;
}

.song-options .btn{
    padding: 5px;
}

/*TEXT FORMATTING*/

.bold{
    font-weight: bold;
}

/*PLAYER*/

.player{
    background-color: #282828;
    color: white;
}

.progress-bar-background, .volume-bar-background{
    background-color:  #5A5A5A;
    height: 1px;
    line-height: 0;
}

.progress-bar-foreground, .volume-bar-foreground{
    background-color: #C1C1C1;
    height: 1px;
}

.progress-bar-background{
    width: calc(25vw + 20px);
}

.progress-bar-foreground{
    width: calc(1vw + 20px);
}

.volume-bar-background{
    width: 120px;
}

.volume-bar-foreground{
    width: 25px;
}

/*SIDEBAR*/

.main-content .sidebar{
    background-color: black;
}

.sidebar{
    color: white;
    padding: 20px;
}

.sidebar .logo{
    width: 150px;
    padding-bottom: 30px;
}

.sidebar .home-menu{
    display: flex;
    flex-wrap: wrap;
}

.sidebar .home-menu > a{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
}

.sidebar .home-menu img{
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

.playlist-menu{
    padding: 20px 0;
}

.playlist-menu h2{
    text-transform: uppercase;
    padding-bottom: 10px;
}

.playlist-menu i{
    border: 2px solid transparent;
    background-color: #A3A3A3;
    color:  black;
    margin-right: 10px;
    vertical-align: middle;
}

.playlist-menu ul{
    margin-top: 10px;
}

.playlist-menu ul li{
    padding: 10px 0;
}

.user-menu img{
    display: inline-block;
    vertical-align: middle;
}

.user-menu .download-cta{
    width: 20px;
}

.user-menu .user{
    width: 30px;
    background-color: grey;
    border-radius: 100%;
}


.hr-line{
    border: 1px solid grey;
    width: 90%;
    margin: 10px 0;
}

.main-menu .logo-small{
    display: none;
}


/*DESKTOP FIRST*/

@media (max-width:992px){

}

@media (max-width:768px){

    .progress-bar-background{
        width: calc(15vw + 20px);
    }

    .progress-bar-foreground{
        width: calc(3vw + 20px);
    }

    .volume-bar-background{
        width: 105px;
    }
    
    .volume-bar-foreground{
        width: 20px;
    }

    .share .btn{
        display: block;
    }

    .song-played-img{
        width: 40px;
    }

    .song{
        padding-right: 40px;
    }
}

@media (max-width:576px){

    .sidebar{
        width:50px;
    }

    .progress-bar-background{
        width: calc(10vw + 20px);
    }

    .progress-bar-foreground{
        width: calc(1vw + 20px);
    }

    .volume-bar-background{
        width: 85px;
    }
    
    .volume-bar-foreground{
        width: 17px;
    }

    .song-played .song-title{
        white-space: wrap;
    }

    .song{
        padding-right: 10px;
    }

    .song-played-img{
        margin-bottom:5px;
        margin-top: 10px;
    }

    /*SIDEBAR*/

    .sidebar{
        padding: 5px;
    }

    .main-menu .logo-small{
        display: inline-block;
        width: 100%;
    }
    .wd-lg{
        display: none;
    }

    .sidebar .home-menu .wd-xs{
        width: 80%;
    }

    .sidebar {
        text-align: center;
    }

    .user-menu .download-cta{
        padding-bottom: 10px;
    }

}

