/*RESET RULES*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


:root{
	--sidebar-width: 230px;
    --sidebar-padding-x: 20px; 
    --player-height: 100px;
    --black: #000000;
    --white: #ffffff;
    --gray: #717171;
    --dark-gray: #282828; 
    --light-gray: #A3A3A3;
    --dark-blue: #141922;
    --less-black: #080B12;
    --light-green: #ADFF2F;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

html {
    font-family: "Figtree", sans-serif;
    font-style: normal;
}

img{
    width: 100%;
    display: block;
}

button{
    background-color: transparent;
    border: none;
    color: currentColor;
    font-size: inherit;
    cursor: pointer;
}

/*DEBUG RULES*/

.debug > *{
    border: 1px dashed red;
    height: 90px;
}

/*TEXT FORMATTING*/

.bold{
    font-weight: bold;
}

.color-gray{
    color: var(--gray);
}

/*UTILITIES*/

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding-left: var(--sidebar-padding-x);
}

/*LAYOUT*/

.viewport-full{
    height: 100vh;
}

.main-content{
    display: flex;
    height: calc(100% - var(--player-height));
}

/*SIDEBAR - LAYOUT*/

.sidebar{
    flex-shrink: 0;
    width: var(--sidebar-width);
    color: var(--gray);
    padding-top: var(--sidebar-padding-x);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.main-content .sidebar{
    background-color: var(--black);
}

.sidebar .logo{
    width: 150px;
    padding-bottom: 30px;
}

.sidebar .home-menu{
    display: flex;
    flex-wrap: wrap;
}

.sidebar .home-menu a{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;

    > *:hover{
        color: var(--white);
    }
}

.sidebar img{
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

.sidebar .logo-small{
    display: none;
}

.playlist-menu{
    padding-top: 20px;

    >button:hover{
        color: var(--white);
        >i{
            background-color: var(--white);
        }
    }
}

.playlist-menu h2{
    text-transform: uppercase;
    padding-bottom: 10px;
    color: var(--white);
}

.playlist-menu ul{
    margin-top: 10px;
    
    > *:hover{
        color: var(--white);
    }
}

.playlist-menu ul li{
    padding: 10px 0;
}

.user-menu{
    margin-top: auto;
    padding-bottom: 5px;
}

.user-menu img{
    display: inline-block;
    vertical-align: middle;
}

.home-menu .current-page{
    color: var(--white);
    position: relative;
}

.home-menu .current-page::before{
    height: 100%;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: var(--light-green);
    top:0;
    left: 0;
}

.playlist-menu i{
    border: 2px solid transparent;
    background-color: var(--light-gray);
    color:  var(--black);
    margin-right: 10px;
    vertical-align: middle;
}

.user-menu .download-cta-icon{
    width: 20px;
}

.user-menu .download-cta:hover{
    color: var(--white);
}

.user-menu .user{
    width: 30px;
    background-color: var(--gray);
    border-radius: 50%;
}

.user-menu .username{
    color: var(--white);
}


.hr-line{
    height: 1px;
    background-color: var(--light-gray);
    width: 90%;
    margin: 10px 0;
}

/*CONTENT - LAYOUT*/

.content{
    flex-grow: 1;
    background-color: var(--dark-blue);
    color: var(--white);
    overflow-y:auto;
    position: relative;
}

.menu-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
    
    > a:hover{
        color: var(--white);
    }
}

.recent-tracks{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.content .col{
    width: calc(100%/6);
    padding: 0 5px;
}

.content .track-info{
    text-align: center;
    padding-top: 15px;
}

.upgrade-now{
    background-color: var(--less-black);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 35px 30px;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.upgrade-now a{
    border: 1px solid var(--white);
    border-radius: 999px;
    padding: 10px 40px;
}

.upgrade-now-cta:hover{
    transform:scale(1.1);
}

.upgrade-now a .btn{
    text-transform: uppercase;
}

.menu-selection > a{
    color: var(--gray);
    text-transform: uppercase;
}

.menu-selection .current-page{
    position: relative;
}

.menu-selection .current-page-indicator{
    content: " ";
    background-color: var(--light-green);
    width: 50%;
    height: 1px;
    position: absolute;
    bottom: -20%;
    left: 25%;
}

.for-you .for-you-tracks{
    display: flex;
    padding-top: 10px;
}

.popular .popular-tracks{
    display: flex;
    padding-top: 10px;
}


.card figure i{
    display: none;
}

.card:hover{

    figure {
        position: relative;

        img{
            filter: brightness(50%);
        }

        i{
        display: inline;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    }
}

.popular .card img{
    border-radius: 50%;
}


/*PLAYER - LAYOUT*/

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: var(--player-height);
    background-color: var(--dark-gray);
    color: var(--white);
}

.track-played{
    display: flex;
	align-items: center;
	gap: 10px;
	width: var(--sidebar-width);
	padding: 0 10px;
}

.track-played .track-info{
    flex-grow: 1;
    white-space: nowrap;

    > .track-name:hover{
        color: var(--white);
        text-decoration: underline;
    }
}

.track-image{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.track-image img{
    width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.track-menu{
    width: 40%;
}

.track-menu .controls{
    gap:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.track-menu .progress-bar{
    display: flex;
    gap: 20px;
	font-size: 12px;
	align-items: center;
	padding: 10px 0;
}

.track-menu .controls .play{
    margin: 0 10px;
}

.track-options{
    display: flex;
	align-items: center;
    justify-content: center;
	gap: 12px;
	padding: 0 10px;
    width: var(--sidebar-width);
}

.slider{
    flex-grow: 1;
    width: 100px;
    height: 5px;
	background-color: var(--light-gray);
    position: relative;
    cursor: pointer;

    .slider-foreground{
        content: " ";
        width: 20%;
        height: 5px;
        background-color: var(--white);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);  
    }
}

.slider:hover
{
    .slider-foreground{
        background-color: var(--light-green);
    }
    .dot{
        display: inline;
    }
}

.dot{
    display: none;
    content: " ";
    background-color: var(--white);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}

.slider.no-grow{
    flex-grow: 0;
}

/*TEST PLAYER*/
.track-utils, .sound-options{
    display: flex;
    gap: 12px;
}

.track-utils{
    color: var(--gray);

    :hover{
        color: var(--white);
    }
}

/*DESKTOP FIRST*/

@media (max-width:992px){

    .content .col{
        width: calc(100%/4)
    }
}

@media (max-width:768px){

    .content .col{
        width: calc(100%/2)
    }

    .track-utils{
        flex-direction: column;
    }

}

@media (max-width:576px){

    /*PLAYER*/
    .track-played .track-info{
        white-space: wrap;
    }

    .track-options{
        flex-wrap: wrap;
    }

    /*SIDEBAR*/


    .padding-20{
        --sidebar-padding-x:0;
    }

    .sidebar{
        --sidebar-width:50px;
    }

    .sidebar .logo-small{
        display: inline-block;
        width: 75%;
        margin-bottom: 20px;
    }
    
    .sidebar .wd-lg{
        display: none;
    }

    .sidebar .wd-xs{
        width: 80%;
    }

    .sidebar {
        text-align: center;
    }

    .home-menu .current-page::before{
        display: none;
    }

    .user-menu .download-cta{
        padding-bottom: 10px;
    }

}

