/*RESET RULES*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

html {
    font-family: "Figtree", sans-serif;
    font-style: normal;
}

img{
    width: 100%;
    display: block;
}

/*DEBUG RULES*/

.debug >*, .debug .main-content>*{
    border: 1px dashed red;
    background-color: beige;
}

/*LAYOUT*/

.viewport-full{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-content{
    display: flex;
    flex-grow:1;
}

.sidebar{
    width: 230px;
}


.player{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.song-played, .song-options{
    display: flex;
    align-items: center;
    width: 30%;
}

.song-played{
    justify-content: flex-start;
}

.song-options{
    justify-content: flex-end;
}


.song{
    padding-right: 70px;
}

.song-played-img{
    width: 45px;
    float: left;
    padding-right: 5px;
}

.song-played .song-title{
    white-space: nowrap;
    color: #878787;
}

.share .btn{
    display: inline-block;
    padding: 0 5px;
}

.song-menu .controls, .song-menu .progress-bar{
    padding: 10px 0;
}

.song-menu .controls{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.progress-bar-background, .progress-bar-foreground, .volume-bar-background, .volume-bar-foreground{
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    text-align: left;
}

.song-menu .controls .play{
    padding: 0 10px;
}

.song-options .btn{
    padding: 5px;
}

/*PLAYER*/

.player{
    background-color: #282828;
    color: white;
}

.progress-bar-background, .volume-bar-background{
    background-color:  #5A5A5A;
    height: 2px;
    line-height: 0;
}

.progress-bar-foreground, .volume-bar-foreground{
    background-color: #C1C1C1;
    height: 1px;
}

.progress-bar-background{
    width: calc(25vw + 20px);
}

.progress-bar-foreground{
    width: calc(1vw + 20px);
}

.volume-bar-background{
    width: 120px;
}

.volume-bar-foreground{
    width: 25px;
}



/*DESKTOP FIRST*/

@media (max-width:992px){

}

@media (max-width:768px){

    .progress-bar-background{
        width: calc(15vw + 20px);
    }

    .progress-bar-foreground{
        width: calc(3vw + 20px);
    }

    .volume-bar-background{
        width: 105px;
    }
    
    .volume-bar-foreground{
        width: 20px;
    }

    .share .btn{
        display: block;
    }

    .song-played-img{
        width: 40px;
    }

    .song{
        padding-right: 40px;
    }
}

@media (max-width:576px){

    .sidebar{
        width:50px;
    }

    .progress-bar-background{
        width: calc(10vw + 20px);
    }

    .progress-bar-foreground{
        width: calc(1vw + 20px);
    }

    .volume-bar-background{
        width: 85px;
    }
    
    .volume-bar-foreground{
        width: 17px;
    }

    .song-played .song-title{
        white-space: wrap;
    }

    .song{
        padding-right: 10px;
    }

    .song-played-img{
        margin-bottom:5px;
        margin-top: 10px;
    }

}

